.strip {
    display: flex;
    color: #3f3f3f;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 2rem;
    width: 100%;
    overflow: hidden;
}