.card {
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    height: max-content;
    width: max-content;
    box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
}