footer {
    width: 100%;

        .creator {
            font-size: .8rem;
            font-weight: 700;
        }

        .thanks {
            font-size: .8rem;
            font-weight: 300;
        }
}