.showStock {
    display: flex;
    align-self: center;

    .__header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 1rem;

        @media screen and (max-width:790px) {
            h1 {
                font-size: 1rem;
            }
        }
    }

    .__body {
        table {
            border-collapse: collapse;
            letter-spacing: 1px;
            width: 100%;
            table-layout: auto;

            tbody {
                width: 100%;

                td,
                th {
                    word-wrap: break-word;
                    border: 1px solid #d3d3d3;
                    padding: 1rem;
                }

                th {
                    background-color: #dde5ff;
                    color: #4e4e4e;
                    text-transform: uppercase;
                }
            }

            @media screen and (max-width: 768px) {
                font-size: .8rem;
                table-layout: fixed;
                max-width: 600px;
                border: 0;

                tr {
                    display: block;

                    td {
                        display: block;
                        text-align: right;
                    }

                    th {
                        display: block;
                        float: left;
                    }
                }
            }

            @media screen and (max-width:620px) {
                max-width: 540px;
            }

            @media screen and (max-width:540px) {
                max-width: 480px;
            }

            @media screen and (max-width:420px) {
                max-width: 350px;
            }

            @media screen and (min-width:1024px) {
                max-width: 900px;
            }

        }

    }
}
button.back_button {
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-width: 1px;
    color: #fff;
    border-color: #599bb3;
    font-weight: bold;
    border-radius: 1rem;
    box-shadow: 0px 10px 14px -7px #527aff;
    text-shadow: 0px 1px 0px #3d768a;
    background: linear-gradient(#7796fc, #285aff);
    transition: background .5s ease-in-out;

    &:hover {
        background: linear-gradient(#285aff, #7796fc);
    }
}